PyJWT~=2.8.0
fastapi~=0.95.2
SQLAlchemy~=1.4.46
trycourier~=5.0.0
Werkzeug~=3.0.1
starlette~=0.27.0
bcrypt~=4.1.1
pydantic~=1.10.2
alembic~=1.13.0
uvicorn~=0.21.1
python-multipart~=0.0.5
psycopg2-binary~=2.8.6
